*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url("../media/pxfuel.com.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 120vh;
    font-family: Arial, Helvetica, sans-serif;
}

#calculator{
    margin: auto;
    width: 50vw;
    min-width: 50rem;
    height: auto;
    /* border: .5rem solid black; */
    box-shadow: 1rem 1rem 0 #3a80be;
    border-radius: 2rem;
    overflow: hidden;
}

#calcHead{
    font-family: 'Bebas Neue', cursive;
    /* width: 50vw; */
    padding: 1rem 2rem;
    text-align: end;
    min-width: 40rem;
    background-color: #4eacff;
    height: 10rem;
}

#display{
    padding: 0 .5rem;
    margin: 2rem auto;
    background-color: white;
    /* margin: 2rem auto; */
    border-radius: 1rem;
    width: 100%;
    min-width: 30rem;
    height: 7rem;
    font-size: 6rem;
}

#calcBody{
    /* width: 50vw; */
    min-width: 40rem;

    background-color: #4eacff;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding: 1rem 2rem;
}

#calcBody button{
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 -.5rem 0rem rgb(167, 167, 167) inset;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    padding: 2rem 1rem;    
}

#calcBody button:active{
    transition: .1s;
    transform: scale(.95);
    box-shadow: none;
    top: .2rem;
}

#igual{
    grid-row-start: 4;
    grid-row-end: 6;

    grid-column-start: 4; 
    grid-column-end: 5;
}
